#!/usr/bin/make -f
SHELL+= -e

D := $(CURDIR)/debian/update-inetd

clean:
	dh_testdir
	dh_testroot
	debconf-updatepo
	dh_clean

build-arch:
build-indep:
	dh_testdir

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	python tests.py
endif

build: build-arch build-indep

binary-arch: build-arch
binary-indep: build-indep
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs usr/share/perl5/ usr/sbin/
	install -o root -g root -m 0644 DebianNet.pm $D/usr/share/perl5/
	install -o root -g root -m 0755 update-inetd $D/usr/sbin/
	dh_installchangelogs
	dh_installdocs
	dh_installdebconf
	dh_installman DebianNet.3pm update-inetd.8
	dh_lintian
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep

.PHONY: clean build-arch build-indep build binary-arch binary-indep binary
